
<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-white rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="https://www.linkedin.com/in/msaidbilgehan">Cosmotree App</a>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                Developed by:
                <a href="https://www.linkedin.com/in/msaidbilgehan/" target="_blank">Cosmotree Inc.</a> -
                <a href="https://www.linkedin.com/in/msaidbilgehan/" target="_blank">Muhammed Said BİLGEHAN</a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

