{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <!-- Who Are We Section -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded p-4">
                <h6 class="mb-4">Who Are We?</h6>
                <p>As one of Turkey's leading IT companies, Treo Information Technologies has been at the forefront of
                    the industry since 2005. With an ever-increasing number of customers and partners, we continue to
                    grow rapidly, solidifying our position in the market. Our commitment to providing 100% customer
                    satisfaction drives us to offer technology consultancy and end-to-end services tailored to each
                    client's unique needs.</p>
            </div>
        </div>

        <!-- Our Platform Section -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded p-4">
                <h6 class="mb-4">Our Platform</h6>
                <p>In collaboration with HPE Ezmeral, we've developed a state-of-the-art platform that streamlines
                    various IT processes. This platform is designed to:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-transparent">Collect HPE software logs from cluster nodes.</li>
                    <li class="list-group-item bg-transparent">Facilitate FQDN (Fully Qualified Domain Name) setups.
                    </li>
                    <li class="list-group-item bg-transparent">Efficiently remove HPE software from clusters.</li>
                </ul>
            </div>
        </div>

        <!-- Vision Section -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded p-4">
                <h6 class="mb-4">Vision</h6>
                <p>Our aim is to foster long-term relationships with our customers and business partners based on mutual
                    trust. We aspire to consistently grow and secure a leading position in Turkey's IT sector, while
                    also making a mark in the international market.</p>
            </div>
        </div>

        <!-- Mission Section -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded p-4">
                <h6 class="mb-4">Mission</h6>
                <p>Our mission is to provide unparalleled satisfaction by adding value at every stage of our clients'
                    business processes. We pride ourselves on offering comprehensive, creative, and prompt solutions in
                    the information technology industry.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}