<!DOCTYPE html>
<html lang="en">

<head>
    <title>HPE Ezmeral Data Fabric Tools</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ai, assistant, social media, ai assistant, social media assistant, ai based social media assistant"
        name="keywords">
    <meta content="" name="description">
</head>

<body data-page-type="{{ page_id }}">
    <header>
        {% include 'template/header.html' %}
    </header>
    <div class="container-fluid position-relative d-flex p-2">
        {% include 'template/spinner.html' %}
        <div class="content center-all">
            <div class="logo-container">
                <a href="{{ url_for('index') }}" class="navbar-brand mx-2 mb-3">
                    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">
                </a>
            </div>
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
</body>

</html>