<!DOCTYPE html>
<html lang="en">

<head>
    <title>HPE Ezmeral Data Fabric Tools</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ai, assistant, social media, ai assistant, social media assistant, ai based social media assistant"
        name="keywords">
    <meta content="" name="description">
</head>

<body data-page-type="{{ page_id }}">
    <header>
        {% include 'template/header.html' %}
    </header>
    <div class="container-fluid position-relative d-flex p-2">
        {% include 'template/spinner.html' %}
        <div class="content center-all">
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <div class="footer_container">
                {% include 'template/footer.html' %}
            </div>
        </div>
    </div>
</body>

</html>