{% extends 'base.html' %}

{% block content %}
<div class="container center_container">
    <div class="card_container">
        <div class="weather-side">
            <div class="weather-gradient"></div>
            <div class="date-container">
                <span class="location unselectable">Bitki Adı</span>
                <h2 id="name" class="date-dayname unselectable">Tomurcuk</h2>
                <span class="location unselectable">Geçen Süre</span>
                <h3 id="passed-time" class="date-dayname unselectable">14 Gün</h3>
            </div>
            <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
                <span class="location unselectable">Genel Skor</span>
                <h3 id="score" class="weather-temp unselectable">90%</h3>
                <span class="location unselectable">Genel Durum</span>
                <h1 id="status" class="weather-desc unselectable">Sağlıklı</h1>
            </div>
        </div>
        <div class="info-side">
                <div class="col-sm-12 col-xl-12 align_item_center w100 beauty_padding">
                    <div class="bg-success rounded beauty_text_container">
                        <span class="beauty_text unselectable">
                            Ölçüm Değerleri
                        </span>
                    </div>
                </div>

            <div class="week-container">
                <ul class="week-list">
                    <li class="week-item beauty_text_container">
                        <!-- <img width="50" height="50" src="https://img.icons8.com/external-yogi-aprelliyanto-flat-yogi-aprelliyanto/64/external-trophy-award-yogi-aprelliyanto-flat-yogi-aprelliyanto-4.png" alt="external-trophy-award-yogi-aprelliyanto-flat-yogi-aprelliyanto-4"/> -->
                        <img width="50" height="50" src="https://img.icons8.com/wired/64/chevron-up.png" alt="chevron-up" />
                        <span class="day-name">Popülasyon</span>
                        <span id="population" class="day-temp">%26</span>
                    </li>
                    <li class="week-item beauty_text_container">
                        <img width="50" height="50" src="https://img.icons8.com/external-others-pike-picture/100/external-change-climate-change-ecology-others-pike-picture-22.png" alt="external-change-climate-change-ecology-others-pike-picture-22"/>
                        <span class="day-name">O2</span>
                        <span id="oxygen" class="day-temp">%88</span>
                    </li>
                    <li class="week-item beauty_text_container">
                        <img width="50" height="50" src="https://img.icons8.com/ios-filled/100/co2.png" alt="co2" />
                        <span class="day-name">CO2</span>
                        <span id="co2" class="day-temp">%12</span>
                    </li>
                </ul>
            </div>
            <div class="week-container">
                <ul class="week-list">
                    <li class="week-item beauty_text_container">
                        <img width="50" height="50" src="https://img.icons8.com/ios-filled/100/000000/humidity.png" alt="humidity" />
                        <span class="day-name">Nem Oranı</span>
                        <span id="humidity" class="day-temp">29°C</span></li>
                    <li class="week-item beauty_text_container">
                        <img width="50" height="50" src="https://img.icons8.com/ios-filled/100/temperature--v1.png" alt="temperature--v1" />
                        <span class="day-name">Ortam Sıcaklığı</span>
                        <span id="temperature-environment" class="day-temp">21°C</span>
                    </li>
                    <li class="week-item beauty_text_container">
                        <img width="50" height="50" src="https://img.icons8.com/carbon-copy/100/temperature.png" alt="temperature" />
                        <span class="day-name">Su Sıcaklığı</span>
                        <span id="temperature-water" class="day-temp">21°C</span>
                    </li>
                </ul>
            </div>
            <!-- <div class="location-container">
                <button class="location-button"> <i data-feather="map-pin"></i><span>Change location</span></button>
            </div> -->
        </div>
    </div>
</div>

<link href="{{ url_for('static', filename='css/card.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/card.js') }}" type="module"></script>


{% endblock %}